.nav {
/*    position: fixed;*/
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.7);
    z-index: 99;
}

.nav a {
    text-decoration: none;
    margin-left: 30px;
    line-height: 20px;
    color: white;
}

.nav a:hover {
  color: #DABA76;
}

.nav a.is-current {
    color: yellow;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}
a.current {
  background:#4CAF50;
  color:white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.footer{
    background-color: #571300;
    color: white;
    height: 10%;
    padding: 5%;
  
}

.footer p{
     padding-top: 10px;
     text-align: center;
     font-size: 12px;
}

img {
    width: 300px;
    float: right;
    padding: 1em;
    padding: 1em;
}


h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    text-shadow:  2px 3px 2px rgba(0,0,0,0.2);
}


h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
}

p, li{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 30px;
}

html, body{
    height: 100%;
    font-family: vendana,sans-serif;
}

.head{
    
    background-color: #571300;
    padding: 0.5%;
    color: #DABA76;
    text-align: center;
}



.sectOne, .sectThree{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-color: #DABA91;
}

.sectTwo{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-color: #BF8F3F;
}

.container{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    background-color:#DABA91; 
}
